<%- include("../partials/header.ejs") %>


    <div class="section">
      <div class="container">
        <div class="text-box _900px">
          <h1 class="heading extra-large">License info</h1>
          <div class="spacer _32"></div>
          <div class="text-box _700px">
            <p class="paragraph">
              All graphical assets in this template are licensed for personal
              and commercial use. If you’d like to use a specific asset, please
              check the license below:
            </p>
          </div>
        </div>
        <div class="divider-line inset"></div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="grid-2-column vertically-centred">
          <div id="w-node-c8253fb7-a37a-f1b7-0c88-04be10e15d00-47d63776">
            <h2 class="heading large">Unsplash Images</h2>
            <div class="spacer _32"></div>
            <p class="paragraph">
              All images used through this template are sourced from Unsplash.
            </p>
            <div class="spacer _32"></div>
            <a
              href="https://unsplash.com/license"
              target="_blank"
              class="button w-button"
              >License Info</a
            >
          </div>
          <div class="grid-license-images">
            <img
              src="../images/olivia-blog-cover-image-1-thumbnail.webp"
              loading="lazy"
              id="w-node-_028fe5b7-7832-daff-3e52-3586dca2047c-47d63776"
              srcset="
                ../images/olivia-blog-cover-image-1-thumbnail-p-500.jpg 500w,
                ../images/olivia-blog-cover-image-1-thumbnail.webp      750w
              "
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 19vw, 24vw"
              alt="Blog cover image"
              class="license-image"
            /><img
              src="../images/olivia-blog-cover-image-3-thumbnail.webp"
              loading="lazy"
              id="w-node-ad364e7f-f84e-ce7f-f840-d69a6b491ee4-47d63776"
              srcset="
                ../images/olivia-blog-cover-image-3-thumbnail-p-500.jpg 500w,
                ../images/olivia-blog-cover-image-3-thumbnail.webp      750w
              "
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 19vw, 24vw"
              alt="Blog cover image"
              class="license-image"
            /><img
              src="../images/olivia-blog-cover-image-6-thumbnail.webp"
              loading="lazy"
              id="w-node-_4881210e-0a4b-322c-9722-6b5691744da3-47d63776"
              srcset="
                ../images/olivia-blog-cover-image-6-thumbnail-p-500.jpg 500w,
                ../images/olivia-blog-cover-image-6-thumbnail.webp      750w
              "
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 19vw, 24vw"
              alt="Blog cover image"
              class="license-image"
            /><img
              src="../images/olivia-blog-cover-image-2-thumbnail.webp"
              loading="lazy"
              id="w-node-d6cde74b-2979-353b-0b1d-e7e8a3f8e311-47d63776"
              srcset="
                ../images/olivia-blog-cover-image-2-thumbnail-p-500.jpg 500w,
                ../images/olivia-blog-cover-image-2-thumbnail.webp      750w
              "
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 19vw, 24vw"
              alt="Blog cover image"
              class="license-image"
            /><img
              src="../images/olivia-blog-cover-image-5-thumbnail.webp"
              loading="lazy"
              id="w-node-cff024f6-b969-3182-9cfe-8c35d5a1eccb-47d63776"
              srcset="
                ../images/olivia-blog-cover-image-5-thumbnail-p-500.jpg 500w,
                ../images/olivia-blog-cover-image-5-thumbnail.webp      750w
              "
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 19vw, 24vw"
              alt="Blog cover image"
              class="license-image"
            /><img
              src="../images/olivia-blog-cover-image-4-thumbnail.jpg"
              loading="lazy"
              id="w-node-b8ccb618-dfee-1532-8e28-9c8d3a82efeb-47d63776"
              srcset="
                ../images/olivia-blog-cover-image-4-thumbnail-p-500.jpg 500w,
                ../images/olivia-blog-cover-image-4-thumbnail.jpg       750w
              "
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 19vw, 24vw"
              alt="Blog cover image"
              class="license-image"
            />
          </div>
        </div>
        <div class="divider-line inset"></div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="grid-2-column vertically-centred">
          <div id="w-node-_620a19a9-45c1-2522-0c40-8a5721b03fa9-47d63776">
            <h2 class="heading large">Fonts</h2>
            <div class="spacer _32"></div>
            <p class="paragraph">
              This template uses two fonts. The primary font is. Sentient from
              Fontshare.
            </p>
            <div class="spacer _32"></div>
            <a
              href="https://www.fontshare.com/licenses/itf-ffl"
              target="_blank"
              class="button w-button"
              >License Info</a
            >
          </div>
          <div class="grid-license-fonts">
            <img
              src="../images/screenshot-202022-11-22-20at-2014.08.04.webp"
              loading="lazy"
              id="w-node-a11444ef-11ca-744e-9593-97e75ad34673-47d63776"
              srcset="
                ../images/screenshot-202022-11-22-20at-2014.08.04-p-500.webp   500w,
                ../images/screenshot-202022-11-22-20at-2014.08.04-p-800.webp   800w,
                ../images/screenshot-202022-11-22-20at-2014.08.04-p-1080.webp 1080w,
                ../images/screenshot-202022-11-22-20at-2014.08.04-p-1600.webp 1600w,
                ../images/screenshot-202022-11-22-20at-2014.08.04-p-2000.webp 2000w,
                ../images/screenshot-202022-11-22-20at-2014.08.04-p-2600.webp 2600w,
                ../images/screenshot-202022-11-22-20at-2014.08.04-p-3200.webp 3200w
              "
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 40vw, 49vw"
              alt="Sentient font screenshot"
              class="license-image"
            />
          </div>
          <div id="w-node-_3b27d927-5d89-de46-a324-7446c6f1b455-47d63776">
            <p class="paragraph">
              The secondary font is Inter by Rasmus Andersson.
            </p>
            <div class="spacer _32"></div>
            <a
              href="https://rsms.me/inter/#free"
              target="_blank"
              class="button w-button"
              >License Info</a
            >
          </div>
          <div class="grid-license-fonts">
            <img
              src="../images/rsms.me_inter_.webp"
              loading="lazy"
              id="w-node-e3d128c6-0e78-70bd-6a7a-d45a4622fdf8-47d63776"
              srcset="
                ../images/rsms.me_inter_-p-500.webp   500w,
                ../images/rsms.me_inter_-p-800.webp   800w,
                ../images/rsms.me_inter_-p-1080.webp 1080w,
                ../images/rsms.me_inter_-p-1600.webp 1600w,
                ../images/rsms.me_inter_-p-2000.webp 2000w,
                ../images/rsms.me_inter_-p-2600.webp 2600w,
                ../images/rsms.me_inter_.webp        2880w
              "
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 40vw, 49vw"
              alt="Inter font screenshot"
              class="license-image"
            />
          </div>
        </div>
        <div class="divider-line inset"></div>
      </div>
    </div>
    

    <%- include("../partials/footer.ejs") %>