<div class="section">
    <div class="container">
      <div class="footer-wrapper-top">
        <div
          id="w-node-fb69c1ec-6507-ad67-7ba3-d970d21fc32b-d21fc328"
          class="logo-wrapper"
        >
          <a
            href="/"
            aria-label="Logo"
            aria-current="page"
            class="logo footer w-nav-brand w--current"
            ><div>Pulse</div></a
          >
        </div>
        <ul role="list" class="footer-list w-list-unstyled">
          <li class="footer-list-item">
            <div class="footer-category"><div>Pages</div></div>
          </li>
          <li class="footer-list-item">
            <a href="/" aria-current="page" class="footer-link w--current">Home</a>
          </li>
          <li class="footer-list-item">
            <a href="/about" class="footer-link">About</a>
          </li>
          <li class="footer-list-item">
            <a href="/subscribe" class="footer-link">Subscribe</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link">Blog</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link">FAQ</a>
          </li>
        </ul>
        <div
          id="w-node-fb69c1ec-6507-ad67-7ba3-d970d21fc33d-d21fc328"
          class="footer-list"
        >
          <div class="footer-category"><div>Categories</div></div>
          <a href="/all-articles" class="footer-link">All</a>
          <div class="w-dyn-list">
            <div role="list" class="collection-list-footer w-dyn-items">
              <div role="listitem" class="collection-item w-dyn-item">
                <a href="/category/culture" class="footer-link">Culture</a>
              </div>
              <div role="listitem" class="collection-item w-dyn-item">
                <a href="/category/lifestyle" class="footer-link"
                  >Lifestyle</a
                >
              </div>
              <div role="listitem" class="collection-item w-dyn-item">
                <a href="/category/people" class="footer-link">People</a>
              </div>
              <div role="listitem" class="collection-item w-dyn-item">
                <a href="/category/technology" class="footer-link"
                  >Technology</a
                >
              </div>
            </div>
          </div>
        </div>
        <ul role="list" class="footer-list w-list-unstyled">
          <li class="footer-list-item">
            <div class="footer-category"><div>Contact</div></div>
          </li>
          <li class="footer-list-item">
            <a
              target="_blank"
              class="footer-link"
              >Twitter</a>
          </li>
          <li class="footer-list-item">
            <a
              target="_blank"
              class="footer-link"
              >LinkedIn</a>
          </li>
          <li class="footer-list-item">
            <a
              target="_blank"
              class="footer-link"
              >Facebook</a>
          </li>
          <li class="footer-list-item">
            <a
              target="_blank"
              class="footer-link"
              >Instagram</a>
          </li>
          <li class="footer-list-item">
            <a
              target="_blank"
              class="footer-link"
              >Email</a>
          </li>
        </ul>
        <ul role="list" class="footer-list w-list-unstyled">
          <li class="footer-list-item">
            <div class="footer-category"><div>Admin</div></div>
          </li>
          <li class="footer-list-item">
            <a href="/admin/styleguide" class="footer-link">Style guide</a>
          </li>
          <li class="footer-list-item">
            <a href="/admin/licenses" class="footer-link">Licenses</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link">Dashboard</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link">Settings</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link">Support</a>
          </li>
        </ul>
      </div>
      <div class="footer-wrapper-bottom">
        <ul role="list" class="footer-list horizontal w-list-unstyled">
          <li class="footer-list-item">
            <a
              target="_blank"
              class="footer-link small text-color-3"
              >Built by Mamoru Hikari</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="/js/jquery.js" type="text/javascript"></script>
  <script src="/js/scribe-template.f99ac0d5f.js" type="text/javascript"></script>
</body>
</html>
