<%- include("partials/header.ejs") %>


    <div class="section">
      <div class="container">
        <div class="text-box centre">
          <h1 class="heading large">
            Inform, inspire, and connect. The three foundations of our written
            content.
          </h1>
        </div>
        <div class="spacer _64"></div>
        <div class="about-images-layout">
          <div class="about-image-wrapper">
            <img
              src="images/windows-yi42mbw3ayc-unsplash.webp"
              loading="lazy"
              sizes="(max-width: 767px) 40vw, (max-width: 991px) 42vw, 49vw"
              srcset="
                images/windows-yi42mbw3ayc-unsplash-p-500.webp   500w,
                images/windows-yi42mbw3ayc-unsplash-p-800.webp   800w,
                images/windows-yi42mbw3ayc-unsplash-p-1080.webp 1080w,
                images/windows-yi42mbw3ayc-unsplash-p-1600.webp 1600w,
                images/windows-yi42mbw3ayc-unsplash.webp        1920w
              "
              alt="About image"
              class="post-item-image"
            />
          </div>
          <div class="about-image-wrapper">
            <img
              src="images/alessio-lin-zhuknd5vpv4-unsplash.webp"
              loading="lazy"
              sizes="(max-width: 767px) 40vw, (max-width: 991px) 42vw, 49vw"
              srcset="
                images/alessio-lin-zhuknd5vpv4-unsplash-p-500.webp   500w,
                images/alessio-lin-zhuknd5vpv4-unsplash-p-800.webp   800w,
                images/alessio-lin-zhuknd5vpv4-unsplash-p-1080.webp 1080w,
                images/alessio-lin-zhuknd5vpv4-unsplash-p-1600.webp 1600w,
                images/alessio-lin-zhuknd5vpv4-unsplash.webp        1920w
              "
              alt="About image"
              class="post-item-image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container no-top-padding">
        <div class="text-box centre">
          <div
            id="w-node-b6de2199-f1ed-ab43-d238-0eee75f9970d-04d6376c"
            class="rich-text w-richtext"
          >
            <h2>Our story</h2>
            <p>
              Pulse began as a small group of passionate writers and tech
              enthusiasts who believed in the power of storytelling. We noticed
              a gap in the media landscape where deep, thoughtful exploration of
              technology, people, and culture was missing.
            </p>
            <h3>Wide-reaching experience</h3>
            <p>
              With diverse backgrounds in journalism, technology, and cultural
              studies, we set out to create a platform that bridges these
              worlds, providing a space for in-depth analysis, personal stories,
              and cultural insights. Our journey started in a modest co-working
              space, but our vision was always expansive – to reach and resonate
              with a global audience.
            </p>
            <h3>Where are we heading</h3>
            <p>
              Over the years, Pulse has grown from a niche blog to a widely
              recognised source of thoughtful content. Our team has expanded,
              bringing in experts and storytellers from various fields, all
              committed to our mission. We&#x27;ve covered stories from the rise
              of AI and its ethical implications to the personal narratives of
              unsung community heroes.
            </p>
            <p>
              Each article, interview, and feature we publish is crafted with
              the intention of sparking curiosity, fostering understanding, and
              encouraging dialogue among our readers.
            </p>
            <h3>Our commitment to quality</h3>
            <p>
              At Pulse, we are dedicated to maintaining the highest standards
              of quality in our content. Each piece undergoes rigorous research
              and editorial processes to ensure accuracy and depth. We believe
              in the importance of diverse perspectives and strive to feature
              voices from different backgrounds and experiences.
            </p>
            <p>
              Our commitment to quality is not just about producing well-written
              articles; it’s about creating a trustworthy and engaging space
              where readers can explore complex topics and find inspiration.
            </p>
            <p>Team Pulse</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section background-primary">
      <div class="container">
        <div class="email-subscribe-wrapper">
          <div class="text-box _600px">
            <h2 class="heading large text-color-background-1">
              Get the best sent to your inbox, every month
            </h2>
          </div>
          <div class="form-block w-form">
            <form
              method="get"
              name="email-form"
              data-name="Email Form"
              id="email-form"
              class="email-form-wrapper"
              data-wf-page-id="637b4af631bc123404d6376c"
              data-wf-element-id="a6021739-06e5-b358-1ee7-0a9f3cb3a2f0"
            >
              <input
                class="text-field no-border w-input"
                maxlength="256"
                name="Email"
                data-name="Email"
                placeholder="Enter your email"
                type="email"
                id="Email"
                required=""
              /><input
                type="submit"
                data-wait="Submitting..."
                class="button-secondary w-button"
                value="Subscribe"
              />
            </form>
            <div class="form-success w-form-done">
              <div>Thanks a lot for subscribing!</div>
            </div>
            <div class="form-error w-form-fail">
              <div>Something went wrong! Please try again</div>
            </div>
            <div class="spacer _16"></div>
            <div class="paragraph small text-color-background-2">
              Once monthly, no spam
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <%- include("partials/footer.ejs") %>