<%- include("partials/header.ejs") %>


    <div
      id="w-node-_722ab616-8153-f1bb-be06-cc5ef8b3bc3a-dcd63778"
      class="section background-primary"
    >
      <div
        id="w-node-d2356893-b3cd-246f-eb95-bc4d9e4711d9-dcd63778"
        class="container"
      >
        <div class="text-box centre subscribe">
          <div class="subscribe-page-wrapper">
            <div class="text-box">
              <h1 class="text-color-background-1">
                Get the best sent to your inbox, every month
              </h1>
              <div class="spacer _32"></div>
              <div class="paragraph">
                <p class="text-color-background-2">
                  Join our community of curious minds and get exclusive insights
                  into technology, people, and culture delivered straight to
                  your email.
                </p>
              </div>
            </div>
            <div class="form-block w-form">
              <form
                id="email-form"
                name="email-form"
                data-name="Email Form"
                method="get"
                class="email-form-wrapper"
                data-wf-page-id="637b4af631bc121ddcd63778"
                data-wf-element-id="c6384de9-3a7b-f4d1-6a7c-609c6d3c27ac"
              >
                <input
                  class="text-field no-border w-input"
                  maxlength="256"
                  name="Email"
                  data-name="Email"
                  placeholder="Enter your email"
                  type="email"
                  id="Email"
                  required=""
                /><input
                  type="submit"
                  data-wait="Submitting..."
                  class="button-secondary w-button"
                  value="Subscribe"
                />
              </form>
              <div class="form-success w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="form-error w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
              <div class="spacer _16"></div>
              <div class="paragraph small">
                <div class="text-color-background-2">Once monthly, no spam</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <%- include("partials/footer.ejs") %>